<% content_for :header do %>
  <li class = "shutter-out-horizontal"><%= link_to('Log out', destroy_user_session_path, :method => :delete)%></li> 
<% end %>

<h1>Add channel</h1>

<%= form_for @channel do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <%= f.submit "Add!" %>
<% end %>